<div class="container">
  <h2 class="text-center">Quizzes</h2>
  <div *ngFor="let quiz of quizzes" class="card m-3">
    <div class="card-header">
      <p>
        {{quiz.title}}
      </p>
      <a class="btn btn-primary" routerLink="/courses/{{courseId}}/quizzes/{{quiz._id}}">
        Start
      </a>
    </div>
    <div class="card-body">
      <ul class="list-group-flush list-group">
        <li *ngFor="let attempt of quiz.attempts; index as i" class="list-group-item list-group-item-action">
          Attempt:{{i}} -- Your Score:{{attempt.score}}
        </li>
      </ul>
    </div>
  </div>
</div>
